
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Admin Panel</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Student", "Index", "Student")</li>
        <li>@Html.ActionLink("Course", "Index", "Course")</li>
        <li>@Html.ActionLink("Shift", "Index", "Shift")</li>
        <li>@Html.ActionLink("AwardindBody", "Index", "AwardingBody")</li>
        <li>@Html.ActionLink("AcademicLevel", "Index", "AcademicLevel")</li>
        <li>@Html.ActionLink("Semester", "Index", "Semester")</li>

    </ul>
</div>
