@model ResultInformation.Areas.Admin.Models.StudentModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StudentModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName)
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SystemId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SystemId)
                @Html.ValidationMessageFor(model => model.SystemId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RollNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RollNo)
                @Html.ValidationMessageFor(model => model.RollNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResistrationNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResistrationNo)
                @Html.ValidationMessageFor(model => model.ResistrationNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CNIC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CNIC)
                @Html.ValidationMessageFor(model => model.CNIC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherFirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherFirstName)
                @Html.ValidationMessageFor(model => model.FatherFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherMiddleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherMiddleName)
                @Html.ValidationMessageFor(model => model.FatherMiddleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherLastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherLastName)
                @Html.ValidationMessageFor(model => model.FatherLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherCNIC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherCNIC)
                @Html.ValidationMessageFor(model => model.FatherCNIC)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
